@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

/* reseteo */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1280px;
    margin: auto;
    background-color: #060709;
    color: #F1F2ED;
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
}
a{text-decoration: none;}
header{
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    header nav a{
        padding: 12px;
        font-family: "Cinzel", serif;
        color: #F1F2ED;
    }
    header nav a:hover{
        color: #D9B98C;
    }

main{
    min-height: 576px;
}
/* hero section */
    #hero{
        height: 680px;
        background-image: url(../img/bg-hero.jpg);
        display: flex;
        align-items: center;
    }
        #hero article{
            width: 458px;
            margin: 72px;
            text-align: center;
        }
            #hero article h2{
                margin: 32px;
                font-family: "Cinzel", serif;
                font-size: 20px;
                font-weight: normal;
            }
            #hero article p{
                width: 400px;
                text-align: left;
                margin-left: 48px;
            }
footer{
    width: 1280px;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}    
    footer div a{
        margin: 12px;
    }
    footer h2{
        font-family: "Cinzel", serif;
        font-size: 20px;
        font-weight: normal;
        color: hsla(35, 50%, 70%, 50%);
    }
        footer h2 img{
            margin: 0px 16px;
        }