@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

/* reseteo */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1280px;
    margin: auto;
    background-color: #060709;
    color: #F1F2ED;
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
}
a{text-decoration: none;}
header{
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    header nav a{
        padding: 12px;
        font-family: "Cinzel", serif;
        color: #F1F2ED;
    }
    header nav a:hover{
        color: #D9B98C;
    }

main{
    min-height: 576px;
}
/* hero section */
    #hero{
        height: 680px;
        background-image: url(../img/bg-hero.jpg);
        display: flex;
        align-items: center;
    }
        #hero article{
            width: 458px;
            margin: 72px;
            text-align: center;
        }
            #hero article h2{
                margin: 32px;
                font-family: "Cinzel", serif;
                font-size: 20px;
                font-weight: normal;
            }
            #hero article p{
                width: 400px;
                text-align: left;
                margin-left: 48px;
            }

/* sección cards */
    #cards{
        padding: 32px 0px;
        display: flex;
        justify-content: space-between;
    }
        #cards article{
            width: 236px;
            padding-bottom: 16px;
            background-color: hsla(230, 17%, 7%, 0.25);
            border: 1px solid #1E1E1E;
            text-align: center;
        }
            #cards article h2{
                padding: 16px 0px;
                font-family: Cinzel, serif;
                font-size: 20px;
                font-weight: 400;
            }
                #cards article h2 img{
                    vertical-align: middle;
                }
            #cards article p{
                margin: 0px 24px 24px 24px;
                font-size: 16px;
            }

    /* cita */
    #cita{
        width: 1024px;
        height: 96px;
        margin: 40px auto;
        background-image: url(../img/bg-cita.png);
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #cita p{
            margin-right: 40px;
            font-size: 24px;
            color: #D9B98C;
        }
        #cita span{
            font-size: 24px;
            color: hsla(35, 50%, 70%, 50%);
        }

/* sección hero de Únete */
#hero-unete{
    height: 888px;
    padding-top: 64px;
    background-image: url(../img/hero-unete.jpg);
    background-position: center -25px;

    display: flex;
    column-gap: 62px;
}
    #hero-unete div{
        width: 672px;
        height: 760px;
    }
    /* formulario */
    #hero-unete form{
        width: 499px;
        height: 760px;
        padding: 32px 40px;
        background-color: hsla(0, 0%, 12%, 50%);
        border: 1px solid hsla(35, 50%, 70%, 50%);
        border-radius: 4px;

        display: flex;
        flex-direction: column;
    }
        #hero-unete form h2{
            font-family: "Cinzel", sans-serif;
            font-size: 32px;
            font-weight: 400;
            color: #F1F2ED;
        }
        #hero-unete form p{
            margin: 16px 0px;
        }
        /* elementos de formulario */
        label{
            margin-top: 24px;
        }
            #hero-unete form label input{
                width: 100%;
                height: 38px;
                margin-top: 10px;
                padding: 4px 16px;
                background-color: hsl(0, 0%, 12%);
                border: 1px solid hsla(35, 50%, 70%, 50%);
                border-radius: 4px;
                font-family: "Cormorant Garamond", serif;
                font-size: 20px;
                color: #F1F2ED;
            }


footer{
    width: 1280px;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}    
    footer div a{
        margin: 12px;
    }
    footer h2{
        font-family: "Cinzel", serif;
        font-size: 20px;
        font-weight: normal;
        color: hsla(35, 50%, 70%, 50%);
    }
        footer h2 img{
            margin: 0px 16px;
        }